* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: LogoFont;
    src: url(../logoFont.ttf);
}
@font-face {
    font-family: TextFont;
    src: url(../textFont.ttf);
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #262626
}

nav  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background: linear-gradient(rgba(18, 17, 17, 1), rgba(18, 17, 17, 0.2));
}

.logo {
    margin-left: 50px;
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #4ECCA3;
    cursor: pointer;
    font-family: LogoFont, serif;
    text-transform: uppercase;
    text-decoration: none;
}
.logo:hover {
    color: aqua;
    margin-left: 50px;
    display: flex;
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    font-family: LogoFont;
    text-transform: uppercase;
    text-decoration: none;
}

.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.navItems li a{
    font-size: 25px;
    color: #4ECCA3;
    letter-spacing: 3px;
    font-family: TextFont, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;

}
.navItems li a:hover {
    color: aqua;
    font-weight: bold;
}
.navItems li ahere{
    font-size: 25px;
    color: #fcb73f;
    letter-spacing: 3px;
    font-family: TextFont, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.navItems li ahere:hover {
    color: #fdf242;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 80px;
    background: url("../pictures/Background.png");
    background-size: 100% 2500px;
    background-repeat: no-repeat;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
}

#source-link {
    bottom: 60px;
}

#source-link > i {
    color: rgb(94, 106, 210);
}

#yt-link > i {
    color: rgb(239, 83, 80);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}

.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

.meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
